/* Text Styles */
hr { color: #000000 }
body, table, tr, th /* Normal */
{
 font-size: 100%;
 font-family: 'Caecilia LT Roman';
 font-style: normal;
 font-weight: normal;
 color: #000000;
 text-decoration: none;
}
table, tr, th
{
 font-size: 100%;
}
span.f_Aufzaehlung1, strong.f_Aufzaehlung1, em.f_Aufzaehlung1 /* Aufzählung1 */
{
}
span.f_Aufzaehlung2, strong.f_Aufzaehlung2, em.f_Aufzaehlung2 /* Aufzählung2 */
{
}
span.f_caption, strong.f_caption, em.f_caption /* caption */
{
 font-size: 0.90rem;
 font-style: italic;
}
span.f_CodeExample, strong.f_CodeExample, em.f_CodeExample /* Code Example */
{
 font-size: 0.90rem;
 font-family: 'Courier New',Courier,monospace;
}
span.f_Comment, strong.f_Comment, em.f_Comment /* Comment */
{
}
span.f_Editionshinweis, strong.f_Editionshinweis, em.f_Editionshinweis /* Editionshinweis */
{
 font-size: 0.90rem;
 font-family: Tahoma,Geneva,Verdana,sans-serif;
 background-color: #daeef3;
}
span.f_Einzug1, strong.f_Einzug1, em.f_Einzug1 /* Einzug1 */
{
}
span.f_Einzug2, strong.f_Einzug2, em.f_Einzug2 /* Einzug2 */
{
}
span.f_Einzug3, strong.f_Einzug3, em.f_Einzug3 /* Einzug3 */
{
}
span.f_heading1, strong.f_heading1, em.f_heading1 /* heading 1 */
{
 font-size: 2.00rem;
 font-family: 'Eras LT Demi';
}
span.f_heading2, strong.f_heading2, em.f_heading2 /* heading 2 */
{
 font-size: 1.80rem;
 font-family: 'Eras LT Demi';
}
span.f_Heading1, strong.f_Heading1, em.f_Heading1 /* Heading1 */
{
 font-size: 1.60rem;
 font-weight: bold;
}
span.f_Hyperlink, strong.f_Hyperlink, em.f_Hyperlink /* Hyperlink */
{
 font-family: Arial,Helvetica,sans-serif;
 color: #0000ff;
 text-decoration: underline;
}
span.f_ImageCaption, strong.f_ImageCaption, em.f_ImageCaption /* Image Caption */
{
 font-size: 0.80rem;
 font-weight: bold;
}
span.f_Meldungstext, strong.f_Meldungstext, em.f_Meldungstext /* Meldungstext */
{
}
span.f_Meldungstext_Kopfzeile, strong.f_Meldungstext_Kopfzeile, em.f_Meldungstext_Kopfzeile /* Meldungstext-Kopfzeile */
{
 font-weight: bold;
}
span.f_Notes, strong.f_Notes, em.f_Notes /* Notes */
{
}
span.f_Quellcode, strong.f_Quellcode, em.f_Quellcode /* Quellcode */
{
 font-size: 0.90rem;
 font-family: 'Courier New',Courier,monospace;
}
span.f_Quellcode_Eingerueckt, strong.f_Quellcode_Eingerueckt, em.f_Quellcode_Eingerueckt /* Quellcode_Eingerückt */
{
 font-size: 0.90rem;
 font-family: 'Courier New',Courier,monospace;
}
span.f_Quellcode_Eingerueckt_OhneFarbe, strong.f_Quellcode_Eingerueckt_OhneFarbe, em.f_Quellcode_Eingerueckt_OhneFarbe /* Quellcode_Eingerückt_OhneFarbe */
{
 font-size: 0.90rem;
 font-family: 'Courier New',Courier,monospace;
}
span.f_Quellcode_Konsole, strong.f_Quellcode_Konsole, em.f_Quellcode_Konsole /* Quellcode_Konsole */
{
 font-size: 0.90rem;
 font-family: 'Courier New',Courier,monospace;
}
span.f_Quellcode_OhneFarbe, strong.f_Quellcode_OhneFarbe, em.f_Quellcode_OhneFarbe /* Quellcode_OhneFarbe */
{
 font-size: 0.90rem;
 font-family: 'Courier New',Courier,monospace;
}
span.f_Standard_Zeichen, strong.f_Standard_Zeichen, em.f_Standard_Zeichen /* Standard_Zeichen */
{
 font-family: Arial,Helvetica,sans-serif;
}
span.f_Strong, strong.f_Strong, em.f_Strong /* Strong */
{
 font-family: Arial,Helvetica,sans-serif;
 font-weight: bold;
}
span.f_Systemzitat, strong.f_Systemzitat, em.f_Systemzitat /* Systemzitat */
{
 font-family: 'Courier New',Courier,monospace;
}
span.f_tableoffigures, strong.f_tableoffigures, em.f_tableoffigures /* table of figures */
{
}
span.f_UeberschriftEinfach, strong.f_UeberschriftEinfach, em.f_UeberschriftEinfach /* ÜberschriftEinfach */
{
 font-weight: bold;
}
span.f_UeberschriftEinfach_Gross, strong.f_UeberschriftEinfach_Gross, em.f_UeberschriftEinfach_Gross /* ÜberschriftEinfach_Gross */
{
 font-weight: bold;
}
span.f_Verknuepfung, strong.f_Verknuepfung, em.f_Verknuepfung /* Verknüpfung */
{
}
/* Paragraph styles */
p, p.p_Normal, div.p_Normal, li.p_Normal /* Normal */
{
 text-align: left;
 text-indent: 0;
 page-break-inside: avoid;
 padding: 0 0 0 0;
 margin: 0.2500rem 0 0.2500rem 0;
}
.p_Aufzaehlung1 /* Aufzählung1 */
{
 font-size: 1.00rem;
 text-indent: -1.5000rem;
 page-break-inside: avoid;
 margin: 0.2500rem 0 0.2500rem 1.5000rem;
}
.p_Aufzaehlung2 /* Aufzählung2 */
{
 font-size: 1.00rem;
 text-indent: -1.4375rem;
 page-break-inside: avoid;
 margin: 0.2500rem 0 0.2500rem 2.9375rem;
}
.p_caption /* caption */
{
 font-size: 0.90rem;
 page-break-inside: avoid;
 margin: 0 0 0.7500rem 2.9375rem;
}
.p_CodeExample /* Code Example */
{
 font-size: 0.90rem;
 line-height: 1.0;
 white-space: nowrap;
 page-break-inside: avoid;
 margin: 0 0 0 0;
}
.p_Comment /* Comment */
{
 font-size: 1.00rem;
 page-break-inside: avoid;
}
.p_Einzug1 /* Einzug1 */
{
 font-size: 1.00rem;
 page-break-inside: avoid;
 margin: 0.2500rem 0 0.2500rem 1.4375rem;
}
.p_Einzug2 /* Einzug2 */
{
 font-size: 1.00rem;
 page-break-inside: avoid;
 margin: 0.2500rem 0 0.2500rem 2.9375rem;
}
.p_Einzug3 /* Einzug3 */
{
 font-size: 1.00rem;
 page-break-inside: avoid;
 margin: 0.2500rem 0 0.2500rem 4.4375rem;
}
.p_heading1 /* heading 1 */
{
 font-size: 2.00rem;
 page-break-inside: avoid;
 page-break-after: avoid;
 margin: 1.0000rem 0 0.2500rem 0;
}
.p_heading2 /* heading 2 */
{
 font-size: 1.80rem;
 page-break-inside: avoid;
 page-break-after: avoid;
 margin: 1.5000rem 0 0.2500rem 0;
}
.p_Heading1 /* Heading1 */
{
 font-size: 100%;
 font-weight: normal;
 text-align: left;
 text-indent: 0;
 page-break-inside: avoid;
 padding: 0 0 0 0;
 margin: 0.2500rem 0 0.2500rem 0;
}
.p_ImageCaption /* Image Caption */
{
 font-size: 0.80rem;
 page-break-inside: avoid;
}
.p_Meldungstext /* Meldungstext */
{
 font-size: 1.00rem;
 page-break-inside: avoid;
 background: #d9d9d9;
 margin: 0.2500rem 4.7500rem 0.2500rem 2.9375rem;
}
.p_Meldungstext_Kopfzeile /* Meldungstext-Kopfzeile */
{
 font-size: 1.00rem;
 page-break-inside: avoid;
 page-break-after: avoid;
 border-color: #ffffff;
 border-style: solid;
 border-width: 0;
 border-top: none;
 border-right: none;
 border-left: none;
 background: #d9d9d9;
 padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
 margin: 0.1875rem 4.6875rem 0.0625rem 2.8750rem;
}
.p_Notes /* Notes */
{
 font-size: 1.00rem;
 page-break-inside: avoid;
}
.p_Quellcode /* Quellcode */
{
 font-size: 0.90rem;
 page-break-inside: avoid;
 border-color: #000000;
 border-style: solid;
 border-width: 0;
 background: #ffff99;
 padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
 margin: 0.5625rem 0.4375rem 0.5625rem 0.4375rem;
}
.p_Quellcode_Eingerueckt /* Quellcode_Eingerückt */
{
 font-size: 0.90rem;
 page-break-inside: avoid;
 border-color: #000000;
 border-style: solid;
 border-width: 0;
 background: #ffff99;
 padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
 margin: 0.5625rem 0.4375rem 0.5625rem 1.8125rem;
}
.p_Quellcode_Eingerueckt_OhneFarbe /* Quellcode_Eingerückt_OhneFarbe */
{
 font-size: 0.90rem;
 page-break-inside: avoid;
 border-color: #000000;
 border-style: solid;
 border-width: 0;
 padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
 margin: 0.7500rem 0.4375rem 0.7500rem 1.8125rem;
}
.p_Quellcode_Konsole /* Quellcode_Konsole */
{
 font-size: 0.90rem;
 page-break-inside: avoid;
 border-color: #000000;
 border-style: solid;
 border-width: 0;
 background: #d9d9d9;
 padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
 margin: 0.7500rem 0.4375rem 0.7500rem 0.4375rem;
}
.p_Quellcode_OhneFarbe /* Quellcode_OhneFarbe */
{
 font-size: 0.90rem;
 page-break-inside: avoid;
 border-color: #000000;
 border-style: solid;
 border-width: 0;
 padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
 margin: 0.7500rem 0.4375rem 0.7500rem 0.4375rem;
}
.p_tableoffigures /* table of figures */
{
 font-size: 1.00rem;
 page-break-inside: avoid;
}
.p_UeberschriftEinfach /* ÜberschriftEinfach */
{
 font-size: 1.00rem;
 page-break-inside: avoid;
 page-break-after: avoid;
 margin: 0.7500rem 0 0.2500rem 0;
}
.p_UeberschriftEinfach_Gross /* ÜberschriftEinfach_Gross */
{
 font-size: 1.00rem;
 page-break-inside: avoid;
 page-break-after: avoid;
 border-color: #000000;
 border-style: solid;
 border-width: 0;
 border-top: none;
 border-right: none;
 border-left: none;
 padding: 0.0625rem 0.0625rem 0.0625rem 0.0625rem;
 margin: 0.6875rem 1.1250rem 0.3125rem 0;
}
.p_Verknuepfung /* Verknüpfung */
{
 font-size: 1.00rem;
 text-indent: 2.9375rem;
 page-break-inside: avoid;
 page-break-after: avoid;
 margin: 0.7500rem 0 0 0;
}
/* Table styles */
div.hmrotate90  { display:inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; }
div.hmrotate270 { display:inline-block; -webkit-writing-mode: vertical-rl; -ms-writing-mode: tb-rl; writing-mode: vertical-rl; transform: rotate(180deg); }

a.imagetogglelink {
  position: relative;
  display: inline-block;
}
svg.image-toggle-magnifier { /* Magnifier icon for image toggles */
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: auto;
  width: 40pt;
  height: 40pt;
  max-width: 80%;
  max-height: 80%;
  fill: #FFFFFF;
  stroke: #808080;
  stroke-width: 0.5pt;
  opacity: 0.3;
  transition: opacity 0.3s;
}
img.image-toggle:hover + svg.image-toggle-magnifier, svg.image-toggle-magnifier:hover {
  opacity: 1;
}



#hmlightbox /* image lightbox */
{
  border: none;
  padding: 8px;
  background: #FFF;
  font-size: 110%;
  font-weight: bold;
  color: #777;
  box-shadow: 5px 5px 5px #888;
}

a.dropdown-toggle /* dropdown toggle caption */
{
  cursor: pointer;
}
a.inline-toggle /* inline toggle caption */
{
  cursor: pointer;
}
img.dropdown-toggle-icon /* toggle icon */
{
  cursor: pointer;
}
/* CSS for responsive image maps */

.hmImageMap a.hmHotspotRect { display:block; position:absolute; border: 1px solid transparent; background:#000; opacity:0.01 }
.hmImageMap a.hmHotspotEllipse { display:block; position:absolute; border-radius:50%; border: 1px solid transparent; background:#000; opacity:0.01 }
.hmImageMap:hover a.hmHotspotRect {opacity:0.3 }
.hmImageMap:hover a.hmHotspotEllipse { opacity:0.3 }
a.hmHotspotRect:hover { border:1px solid #000; background:#FFF; opacity:0.3 }
a.hmHotspotEllipse:hover { border:1px solid #000; background:#FFF; opacity:0.3 }
