P.MeldungstextCxSpFirst {FONT-SIZE: 11pt;  FONT-FAMILY: "Segoe UI",sans-serif;  BACKGROUND: #d9d9d9;  MARGIN: 3pt 56.7pt 0pt 35.45pt; }

SPAN.Icon {}

P.MeldungstextCxSpLast {FONT-SIZE: 11pt;  FONT-FAMILY: "Segoe UI",sans-serif;  BACKGROUND: #d9d9d9;  MARGIN: 0pt 56.7pt 3pt 35.45pt; }

P.MeldungstextCxSpMiddle {FONT-SIZE: 11pt;  FONT-FAMILY: "Segoe UI",sans-serif;  BACKGROUND: #d9d9d9;  MARGIN: 0pt 56.7pt 0pt 35.45pt; }

