<?xml version="1.0" encoding="utf-8"?>
<settings>
  <theme>
    <layout>themes/FSNetHelpTheme/layout.html</layout>
    <stylesheet>css/jquery-ui/FsG4Style/jquery-ui.css</stylesheet>
  </theme>
  <references>
    <join>themes/FSNetHelpTheme/settings.theme.xml</join>
    <join>themes/FSNetHelpTheme/settings.de.xml</join>
    <css>LinksExt/D2H_Handbuch_HTML.css</css>
  </references>
  <strings>
    <pageHeaderText>Hilfe</pageHeaderText>
    <emailAddress>support@ferber-software.de</emailAddress>
  </strings>
  <topic>
    <home>Documents/fs_8bd7d2d2d793.html</home>
  </topic>
  <windows>
    <window>
      <name>proc</name>
      <features>left=680,top=10,height=500,width=315,resizable=1,scrollbars=1</features>
    </window>
  </windows>
</settings>